<form action="/registrations" method="post">
  <div class="field">
    <label class="label" for="username">Username</label>
    <div class="control">
      <input class="input" type="text" name="username">
    </div>
  </div>
  <div class="field">
    <label class="label" for="email">Email</label>
    <div class="control">
      <input class="input" type="email" name="email">
    </div>
  </div>
  <div class="field">
    <label class="label" for="password">Password</label>
    <div class="control">
      <input class="input" type="password" name="password">
    </div>
  </div>
  <div class="field">
    <label class="label" for="passwordConfirmation">Confirm password</label>
    <div class="control">
      <input class="input" type="password" name="passwordConfirmation">
    </div>
  </div>

  <button class="button">Sign up</button>

</form>
