<nav class="navbar is-light">
  <div class="container">
    <div class="navbar-left">
      <div class="navbar-brand">
      </div>
    </div>
    <div class="navbar-right">
      <div class="navbar-menu">
        <figure class="images is-96x96">
          <img src="../puclic/dive-flag.jpg" alt="Diver Down Flag">
        </figure>
        <a href="/">Home</a>
        <a href="/_about">About</a>
        <a href="/sites/index">All sites</a>
        <a href="/sites/new">Add site</a>
        <a href="/sessions/new">Login</a>
        <a href="/registrations/new">Sign up</a>
      </div>
    </div>
  </div>
</nav>
