<nav id ="header" class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <figure class="image is-96x96">
        <img src="https://static.vecteezy.com/system/resources/previews/000/122/164/non_2x/free-vector-diver-down-flag.jpg">
      </figure>
      <%# <span class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </span> %>
    </div>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-end">
        <% if(locals.isLoggedIn) { %>
          <a class ="navbar-item has-text-white" href="/">Home</a>
          <a class ="navbar-item has-text-white" href="/_about">About</a>
          <a class ="navbar-item has-text-white" href="/sites">All sites</a>
          <a class ="navbar-item has-text-white" href="/sites/new">Add site</a>
          <a class ="navbar-item has-text-white" href="/sessions/delete">Log out</a>
          <%  }  %>
        </div>
      </div>
    </div>
  </nav>
