<nav class="navbar is-light">
  <div class="container">
    <div class="navbar-left">
      <div class="navbar-brand">
      </div>
    </div>
    <div class="navbar-right">
      <div class="navbar-menu">
        <figure class="images is-96x96">
          <img src="https://www.google.co.uk/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiesvnotcbcAhXIzIUKHXhDBuQQjRx6BAgBEAU&url=https%3A%2F%2Fwww.amazon.com%2FTrident-acc56a-Scuba-Diive-Sticker%2Fdp%2FB001F2NTFU&psig=AOvVaw1COGGlU_mY_S9136rYc8aY&ust=1533026214418928" alt="Diver Down Flag">
        </figure>
        <a href="/">Home</a>
        <a href="/_about">Profile</a>
        <a href="/sites/index">All sites</a>
        <a href="/sites/new">Add site</a>
      </div>
    </div>
  </div>
</nav>
