<form action="/sites" method="POST">
  <div class="field">
    <label class="label" for="name">Name</label>
    <div class="control">
      <input type="text" name="name" class="input">
    </div>
  </div>

  <div class="field">
    <label class="label" for="name">Location</label>
    <div class="control">
      <input type="text" name="location" class="input">
    </div>
  </div>

  <div class="field">
    <label class="label" for="name">Max. Depth</label>
    <div class="control">
      <input type="text" name="depth" class="input">
    </div>
  </div>

  <div class="field">
    <label class="label" for="name">Picture</label>
    <div class="control">
      <input type="text" name="picture" class="input">
    </div>
  </div>

  <div class="field">
    <label class="label" for="name">Common Species</label>
    <div class="control">
      <input type="text" name="commonSpecies" class="input">
    </div>
  </div>

  <div class="field">
    <label class="label" for="name">Difficulty</label>
    <div class="control">
      <input type="text" name="difficultyLevel" class="input">
    </div>
  </div>

  <div class="field">
    <label class="label" for="name">Description</label>
    <div class="control">
      <input type="text" name="description" class="input">
    </div>
  </div>

  <button class="button is-info">Add dive site</button>

</form>
