<form class="" action="index.html" method="post"> // need to complete this


  <div class="field">
    <label for="content">Enter your changes</label>
    <textarea name="textarea" name="content"></textarea>
  </div>

  <input type="hidden" name="name" value="<%= locals.user.username %>">
  <div class="field">
    <button type="button is-primary">Update</button>

  </div>
</form>
