<% site.reviews.forEach(review => { %>
  <div class="columns">
    <div class="column is-11">
      <p>
        <span class="author has-text-white"><%= review.author.email %>:
        </span><span class="has-text-white"> <%= review.content%> </span>
      </p>
    </div>
  </div
<% }) %>
