<% site.reviews.forEach(review => { %>
  <div class="columns">
    <div class="column is-11">
      <p>
        <span class="author"><%= locals.user.username %>:
        </span><span> <%= review.content%> </span>
      </p>
    </div>
  </div
<% }) %>
