<form action="/sites/<%=site.id%>/review" method="POST">
  <div class="field">
    <label for="content">Write a review</label>
    <textarea class="textarea" name="content"></textarea>
  </div>

  <input type="hidden" name="author" value="<%= locals.user.id %>">

  <div class="field">
    <button class="button is-primary">Submit</button>
  </div>
</form>
