<div class="container">
  <div class="has-text-centered">

    <% if (!locals.isLoggedIn) { %>
    <div class="columns is-centered">
      <div class="column">
        <a class="button is-primary is-one-quarter is-offest-one-quarter" href="/registrations/new">Sign up</a>
        <a class="button is-primary is-one-quarter is-offest-one-quarter" href="/sessions/new">Login</a>
        </div>
    </div>
    <% } %>
    <h1 class="title is-2">Rate Your Dive</h1>
    <h2 class="subtitle is-2">Find the best dive sites around the world</h2>

    </div>
  </div>
