<div class="container has-text-centered">
  <% if (!locals.isLoggedIn) { %>
    <div class="columns is-mobile">
      <div class="column is-4 is-offset-4">
        <a id="buttons" class="column button is-primary has-text-black" href="/registrations/new">Sign up</a>
      </div>
    </div>
    <div class="columns is-mobile">
      <div class="column is-4 is-offset-4">
        <a id="buttons" class="column button is-primary has-text-black" href="/sessions/new">Login</a>
      </div>
    </div>
    <% } %>
    <h2 id="tagline" class="subtitle is-4 has-text-grey-lighter">A drop in the ocean...</h2>
  </div>

<!--
  <section class="hero is-primary is-medium">
    <div class="hero-body">
      <div class="container">
        <div class="container has-text-centered">
          <% if (!locals.isLoggedIn) { %>
            <div class="columns is-mobile">
              <div class="column is-4 is-offset-4">
                <a id="buttons" class="column button is-primary has-text-black" href="/registrations/new">Sign up</a>
              </div>
            </div>
            <div class="columns is-mobile">
              <div class="column is-4 is-offset-4">
                <a id="buttons" class="column button is-primary has-text-black" href="/sessions/new">Login</a>
              </div>
            </div>
            <% } %>
          </div>
        <h1 class="title content-is-centered">
          A drop in the ocean...
        </h1>
        <h2 class="subtitle">
          Medium subtitle
        </h2>
      </div>
    </div>
  </section> -->
