
  <div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Login</p>
    </header>
    <section class="modal-card-body">

      <% if(locals.message) { %>
        <div class="message is-danger">
        <div class="message-body">
        <%= message %>
        </div>
        </div>
        <% } %>

        <div class="container">
          <form method="POST" action="/sessions">

            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="has-text-black" for="email">Email</label>
                  <input class="input" type="text" name="email" id="email">
                </div>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="has-text-black" for="password">Password</label>
                  <input class="input" type="password" name="password" id="password">
                </div>
              </div>
            </div>

            <div class="columns">
              <div class="column">

                <button class="button is-info">Login</button>
              </div>
            </div>
          </form>
        </div>


    </section>
    <footer class="modal-card-foot">
      <%# <button class="button is-success">Save changes</button>
      <button class="button">Cancel</button> %>
    </footer>
  </div>
</div>
